
.blogContainer {
  border: 1px solid white;
  display:grid;
  align-items: center;
  justify-content: center;
  min-height: 1200px;
  width: 80vw;
  margin: auto;
  margin-bottom: 200px;
  color: white
}
