.experienceContainer {
  width: 80%;
  margin: 0 auto;
}

.experienceContainer h1 {
  height: auto;
  text-align: center;
  font-size: 15px;
  color: white;
  margin-top: 50px
}

.techLogo {
  width: 50px;
  height: 50px;
  object-fit: contain
}

.logoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  grid-gap: 20px;
  height: 100px;
  justify-content: center;
  margin-top: 20px
}

.individualLogo {
  width: 60px;
  display: grid;
  justify-items: center
}

.individualLogo h2{
  font-size: 10px;
  width: 60px;
  text-align: center;
  color: grey;
}

.individualLogo:hover {
  cursor: pointer
}

.individualLogo:hover h2 {
  color: white
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  max-width:978px;
  margin: 76px auto
}

.individualProject {
  display: grid;
  justify-items: center;
  grid-template-rows: 300px 20px 1fr;
  cursor: pointer;
}

.individualProject:hover h1::after{
  width: 100%;
  transition: 0.2s
}

.individualProject img {
  width: 100%;
  height:100%;
  object-fit: contain
}

.individualProject h1 {
  margin: 0;
  color: grey
}

.individualProject:hover h1 {
  color: white
}

.individualProject:hover h2 {
  color: #bababa
}


.individualProject h1::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #00a1f1;
  display: block;
}

.individualProject h2 {
  font-size: 13px;
  color: grey;
}
