.menuBarContainer {
  height: 50px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  position: fixed;
  color: white;
  z-index: 2;
  top: 0;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  z-index: 3
}

.menuBarContainer .logo {
  position: absolute;
  padding-left: 50px;
  left: 0
}

.menuBarButton {
  color: white;
  transition: 0.2s;
  padding: 3px 0 ;
  user-select: none;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  border-radius: 5px;
  padding: 5px
}

.menuBarButton::after {
  content:'';
  display: block;
  width: 0;
  height: 2px;
  background-color: lightgrey;
  transition: 0.3s
}

.menuBarButton:hover {
  color: #00a1f1;
  cursor: pointer
}

.menuBarButton:hover::after {
  width: 100%;
}
