
:root {
  --lightBlue: #00a1f1;
  --lighterBlue: #84caf0;
  --greyOverlay: rgba(100, 100, 100, 0.3);
}

body {
  background-color: #414246
}

.projectContainer {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  justify-items: center;
  align-items: center;
  max-width: 960px;
  margin: auto;
}

.projectContainer a {
  text-decoration: none;
  color: black;

}

.projectContainer a:hover {
  color: orange;
}

.projectContainer h1 {
  font-size: 15px;
  color: var(--lightBlue);
}

.projectContainer h2 {
  font-size: 12px;
}

.projectImage {
  width: 100px;
}

.contactContainer {
  width: 80vw;
  margin:auto;
  border: 1px solid black;
  min-height: 1000px;
  text-align: center;
}

.socialButton {
  width: 30px;
  margin: 10px;
}
